html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------END OF RESET----------------------*/

/* HEADER */

#top-bar{
    background-color: white;
    border-bottom-color: lightgrey;
    border-bottom-width: 3px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

#menu-logo{
    height: 35%;
    left: 15px;
}

#youtube-logo{
    height: 50%; 
    left: 55px;
}

#search-bar{
    height: 20px; 
    width: 50%;
    left: 200px; 
}

button{
    background: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right;
    height: 25px;
    right: 33%;
    width: 25px;
    top: 26%;
}

#camera-logo{
    height: 40%; 
    right: 25%;
}

.top-bar-button {
    height: 40%; 
    position: absolute;
}

#menu2-logo{
    right: 20%;
}

#message-logo{
    right: 15%;
}

#bell-logo{
    right: 10%;
 }

#avatar{
    width: 25px;
    right: 5%;
    border-radius: 60%;
}

/* BODY */

.main-content {

}

#iframe-replace {
	width: 60vw;
    height: 33.71vw;
    background: red;
    top: 10%;
    left: 4%; 
}

#video-text-bar{
    top: 82%;
    width: 58%;
    height: 15%;
    left: 4%;
    border-bottom: lightgrey solid 1px;
}

.comment-bar-items{
    height: 20%;
    position: absolute;
    right: 50%;
    bottom: 0;
}
#title{
	margin-top:20px;
}

#description{
	margin-top:7%;
}

#like-button{
    right: 63%;	
}

#like-button-text{
    right: 59%;
}

#dislike-button{
    right: 50%;
}

#dislike-button-text{
    right: 46%;
}

#share-button{
    right: 38%;
}

#share-button-text{
    right: 28%;
}

#add-list{
    right: 20%;
}

#addlist-button-text{
    right: 10%;
}

#more-button{
    right: 1%;
}


/* COMMENT SECTION */

#avatar2{
    width: 30px;
    left: -5%;
    top: 0;
    border-radius: 60%;
}

#video-description{
    top: 100%;
    width: 58%;
    height: 24%;
    left: 8%;
    border-bottom: lightgrey solid 1px;
}

#subscribe-button{
	width: 150px;
    height: 30px;
    right: 8%;
    top: 0;
    border-radius: 10%;
    background-color: #cc0000;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background-image: none;
}

#comments {
	width: 65%;
    height: 20%;
    background-color: white;    
	left: 5%;
    top: 125%;
	text-align:center;
}

#loading-area {
    width: 100%;
    margin-top: 10%;
}

#load-gif{
	height:20%;
}

/* SIDEBAR */

#sidebar{
    width: 35%;
    height: 1000px;
    background-color: white;
    display: inline; 
    right: 0;
    margin-top: 60px;
}

.thumbnail{
    width: 50%;
    height: auto;
    background-color: white;
    display: inline; 
    position: relative; 
    margin: 10px;
}

/* OTHER ELEMENTS */

h1,
h3{
    display: inline;
    position: absolute;
    margin: 10px;
    font-family: arial;
}

h1{
    font-size: 12pt;
}

h3{
    font-size: 10pt;
    margin-top: 45px;
    color: grey;
}

.center-vertically {
    top: 50%;
    transform: translateY(-50%);
}

.center-horizontally{
    margin: 0;
}

.absolute{
    position: absolute;
}




