
#top-bar{
    background-color: white;
    border-bottom-color: lightgrey;
    border-bottom-width: 3px;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

#video-embedded{
    width: 65%;
    height: 500px;
    background-color: pink;
    display: inline;
    margin: auto;                 
    position: absolute;
}

#video-inside{
    width: 100%;
    height: inherit;
    background-color: pink;
    display: inline;
    margin: auto;                 
    position: absolute;
}

#comments {
    width: 65%;
    height: 500px;
    background-color: gray;
    display: inline;
    position: absolute;
    margin-top: 500px;
}

#sidebar{
    width: 35%;
    height: 1000px;
    background-color: green;
    display: inline; 
    position: absolute; 
    margin-left: 65%;
}

.thumbnail{
    width: 50%;
    height: auto;
    background-color: green;
    display: inline; 
    position: relative; 
    margin: 10px;
}

.paragraph{
    display: inline; 
    position: relative; 
    margin: 10px;
}

h1{
    display: inline; 
    position: absolute; 
    margin: 10px;
}

h3{
    display: inline; 
    position: absolute; 
    margin: 10px;
}

#menu-logo{
    height: 35%;
    position: absolute;
    left: 10px;
    top: 20px;
}

#youtube-logo{
    height: 50%; 
    position: absolute;
    left: 50px;
    top: 15px;
}

#search-bar{
    height: 20px; 
    width: 50%;
    margin: auto;
    position: absolute;
    left: 200px;
    top: 10px;
    border-radius: 3%;
    border: lightgrey 1px solid;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right;
}

#camera-logo{
    height: 40%; 
    position: absolute;
    left: 1050px;
    top: 15px;
}




